/* line 4, ../sass/style.scss */
main {
  margin-bottom: 30px;
}

/* line 9, ../sass/style.scss */
h4 {
  margin: 20px 0 10px;
}

/* line 13, ../sass/style.scss */
form-control {
  margin: 5px 10px;
}

/* line 17, ../sass/style.scss */
.btn-link {
  color: #fff !important;
}

/* line 21, ../sass/style.scss */
.log-account {
  color: #fff;
}

/* line 25, ../sass/style.scss */
.form-row {
  display: block;
}

.form-control {
	padding: 0;
}

.title-bar {
	overflow: hidden;
}

.entry-btn {
	float: right;
	margin: 50px auto 10px;
}

.list-title {
	display: inline-block;
}

