/* line 4, ../sass/style.scss */
main {
  margin-bottom: 30px;
}

/* line 8, ../sass/style.scss */
h4 {
  margin: 20px 0 10px;
}

/* line 12, ../sass/style.scss */
form-control {
  margin: 5px 10px;
}

/* line 16, ../sass/style.scss */
.btn-link {
  color: #fff !important;
}

/* line 20, ../sass/style.scss */
.log-account {
  color: #fff;
}

/* line 24, ../sass/style.scss */
.form-row {
  display: block;
}
