@import "compass";
@charset'utf-8';

main {
  margin-bottom: 30px;
}

h4 {
  margin: 20px 0 10px;
}

form-control {
  margin: 5px 10px;
}

.btn-link {
	color: #fff !important;
}

.log-account {
  color: #fff;
}

.form-row {
  display: block;
}
